fastapi==0.109.0
uvicorn==0.26.0
websockets==12.0
Python-IO==0.3
google-api-python-client==2.114.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-auth==2.26.2
google-cloud==0.34.0
google-cloud-speech==2.23.0
Wave==0.0.2
asyncio==3.4.3
google-auth==2.26.2
google-auth-oauthlib==1.2.0
python-dotenv==1.0.0
openai==1.9.0
pandas==2.2.0
python-dotenv==1.0.0